body {
	font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
	margin: 0;
	padding: 0;
	background: rgba(1,48,90,1);
	background: -moz-linear-gradient(left, rgba(1,48,90,1) 0%, rgba(50,133,177,1) 20%, rgba(50,133,177,1) 50%, rgba(50,133,177,1) 80%, rgba(1,48,90,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(1,48,90,1)), color-stop(20%, rgba(50,133,177,1)), color-stop(50%, rgba(50,133,177,1)), color-stop(80%, rgba(50,133,177,1)), color-stop(100%, rgba(1,48,90,1)));
	background: -webkit-linear-gradient(left, rgba(1,48,90,1) 0%, rgba(50,133,177,1) 20%, rgba(50,133,177,1) 50%, rgba(50,133,177,1) 80%, rgba(1,48,90,1) 100%);
	background: -o-linear-gradient(left, rgba(1,48,90,1) 0%, rgba(50,133,177,1) 20%, rgba(50,133,177,1) 50%, rgba(50,133,177,1) 80%, rgba(1,48,90,1) 100%);
	background: -ms-linear-gradient(left, rgba(1,48,90,1) 0%, rgba(50,133,177,1) 20%, rgba(50,133,177,1) 50%, rgba(50,133,177,1) 80%, rgba(1,48,90,1) 100%);
	background: linear-gradient(to right, rgba(1,48,90,1) 0%, rgba(50,133,177,1) 20%, rgba(50,133,177,1) 50%, rgba(50,133,177,1) 80%, rgba(1,48,90,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01305a', endColorstr='#01305a', GradientType=1 );
}

.container-wrapper {
	width: 960px;
	margin: 0 auto;
}

/*
 *
 * COLOR PALLETES
 *
 */

 .bg-black { background-color: #000; }
 .bg-darkGray { background-color: #0f0f0f; }
 .bg-lightGray, .pagination a { background-color: #eee; }
 .bg-mediumGray, .pagination .active { background-color: #c1c1c1 !important; }
 .bg-white { background-color: #fff; }
 .bg-header {
 	background: rgba(0,0,0,1);
	background: -moz-linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 51%, rgba(45,46,47,1) 71%, rgba(45,46,47,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,1)), color-stop(51%, rgba(0,0,0,1)), color-stop(71%, rgba(45,46,47,1)), color-stop(100%, rgba(45,46,47,1)));
	background: -webkit-linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 51%, rgba(45,46,47,1) 71%, rgba(45,46,47,1) 100%);
	background: -o-linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 51%, rgba(45,46,47,1) 71%, rgba(45,46,47,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 51%, rgba(45,46,47,1) 71%, rgba(45,46,47,1) 100%);
	background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 51%, rgba(45,46,47,1) 71%, rgba(45,46,47,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#2d2e2f', GradientType=1 );
 }
 .bg-sidebar {
 	background: #e7e7e7; 
 	background:-webkit-linear-gradient(top, #e7e7e7, #ffffff); 
 	background: -moz-linear-gradient(top, #e7e7e7, #ffffff); 
 	background: -ms-linear-gradient(top, #e7e7e7, #ffffff); 
 	background: -o-linear-gradient(top, #e7e7e7, #ffffff); 
 	background: linear-gradient(to bottom, #e7e7e7, #ffffff);
 }

 .txt-mediumGray, .pagination a { color: #c1c1c1 !important; }
 .txt-gray { color: #A3A3A3; }
 .txt-white, header.container .navbar a, .pagination, footer h2 { color: #fff; }
 footer p { color: #6f6e6e; }
 footer span { color: #a3a3a3; }

/*
 *
 * POSITIONING
 *
 */

 header.container .container-left,
 header.container .container-right,
 #backbar.container .container-left,
 #backbar.container .container-right,
 #content-wrapper #content.container,
 #content-wrapper #sidebar.container,
 #content .post .container-left,
 #content .post .container-right,
 #content.container .pagination > span,
 #content.container .pagination ul,
 footer.container .container-left,
 footer.container .container-center,
 footer.container .container-right {
 	float: left;
 }

 header.container::after,
 #backbar.container::after,
 #content-wrapper::after,
 #content .post::after,
 #content.container .pagination::after,
 footer.container::after {
 	content: "";
 	display: block;
 	clear: both;
 }

/*
 *
 * HEADER
 *
 */

/* white shadow wrapped around header~backbar container  */
 .header-wrapper {
 	box-shadow: 0px 0px 200px #fff;
 }

 header.container {
 	height: 110px;
 	padding: 0 30px;
 }

 header.container .container-left {
 	width: 450px;
 	height: 100%;
 }

 header.container .logo {
 	padding: 27px 30px 0 0;
 }

 header.container .container-right {
 	width: 450px;
 	height: 100%;
 }

 header.container .searchbar {
 	background: #fff url('../assets/searchbar-icon.png') 5px 1.5px no-repeat;
 	margin: 18px 0;
 	padding-left: 30px;
 	border-radius: 10px;
 }

 header.container ul.navbar {
 	margin: 0;
 	padding: 0;
 }

 header.container ul.navbar li {
 	display: inline-block;
 	text-transform: uppercase;
 }

 header.container ul.navbar a {
 	display: block;
 	font-size: 70%;
 	padding: 13px 5px;
 }

/*
 *
 * SLIDER
 *
 */

.slider-container img {
	display: block;
}

/*
 *
 * BACKBAR
 *
 */

 #backbar.container {
 	padding: 15px 30px;
 }

 #backbar.container .container-left {
 	width: 600px;
 }

 #backbar.container .container-left h1{
 	margin: 0;
 	padding: 30px 0 30px 0;
 }

 #backbar.container .container-right {
 	width: 300px;
 }

 #backbar.container .container-right ul.social-buttons {
 	margin: 0;
 	padding: 30px 0;
 }

 #backbar.container .container-right ul.social-buttons li {
 	display: inline-block;
 	width: 50px;
 	height: 50px;
 }

 #backbar.container .container-right ul.social-buttons a {
 	display: block;
 	width: 100%;
 	height: 100%;
 }

 #backbar.container .container-right ul.social-buttons li:nth-child(1) { background: #000 url('../assets/social_buttons/button1.png') center center no-repeat; }
 #backbar.container .container-right ul.social-buttons li:nth-child(2) { background: #000 url('../assets/social_buttons/button2.png') center center no-repeat; }
 #backbar.container .container-right ul.social-buttons li:nth-child(3) { background: #000 url('../assets/social_buttons/button3.png') center center no-repeat; }
 #backbar.container .container-right ul.social-buttons li:nth-child(4) { background: #000 url('../assets/social_buttons/button4.png') center center no-repeat; }
 #backbar.container .container-right ul.social-buttons li:nth-child(5) { background: #000 url('../assets/social_buttons/button5.png') center center no-repeat; }

/*
 *
 * CONTENT-WRAPPER
 *
 */

 #content-wrapper {
 	width: 100%;
 	height: 100%;
 }

 #content-wrapper a, #content-wrapper small { color: #2c83b0; }

/*
 *
 * CONTENT-WRAPPER -> CONTENT
 *
 */

#content.container {
	width: 650px;
	padding: 0 30px;
}

#content.container .post {
	padding: 30px 0;
}

#content.container .post .container-left {
	width: 160px;
}

#content.container .post .container-left img {
	border: #e9e9e9 5px solid;
	box-shadow: 0 0 1px #777;
}

#content.container .post .container-right {
	width: 460px;
	padding-left: 30px;
}

#content.container .post .container-right h2 {
	margin: 0;
}

#content.container .post::after {
	content: "";
	display: block;
	height: 1px;
	position: relative;
	top: 30px;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 10%, rgba(240,240,240,1) 50%, rgba(240,240,240,1) 90%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(10%, rgba(240,240,240,1)), color-stop(50%, rgba(240,240,240,1)), color-stop(90%, rgba(240,240,240,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 10%, rgba(240,240,240,1) 50%, rgba(240,240,240,1) 90%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 10%, rgba(240,240,240,1) 50%, rgba(240,240,240,1) 90%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 10%, rgba(240,240,240,1) 50%, rgba(240,240,240,1) 90%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 10%, rgba(240,240,240,1) 50%, rgba(240,240,240,1) 90%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
}

/*
 *
 * CONTENT-WRAPPER -> PAGINATION
 *
 */

 #content.container .pagination {
 	font-family: 'Arial';
 	font-size: 80%;
 	padding: 30px 0;
 }

 #content.container .pagination span {
 	padding: 5px 10px;
 }

 #content.container .pagination ul {
 	margin: 0;
 	padding: 0;
 }

 #content.container .pagination li {
 	display: inline-block;
 	margin-left: 5px;
 }

 #content.container .pagination li.active,
 #content.container .pagination a {
 	padding: 5px 10px;
 }

/*
 *
 * CONTENT-WRAPPER -> SIDEBAR
 *
 */

 #sidebar.container {
 	width: 200px;
 	padding: 0 25px;
 }

/*
 *
 * SPONSOR LIST
 *
 */

 #sponsor-list.container {
 	padding: 0 30px 30px 30px;
 }

 #sponsor-list.container .container-top h2 {
 	margin: 0;
 	padding-bottom: 30px;
 }

 #sponsor-list.container .container-bottom ul.lists {
 	margin: 0;
 	padding: 0;
 }

 #sponsor-list.container .container-bottom ul.lists li {
 	display: inline-block;
 	margin-right: 10px;
 	margin-bottom: 10px;
 	border: #fff 1px solid;
 	box-shadow: 0 0 1px #e0e0e0;
 }

 #sponsor-list.container .container-bottom ul.lists li img {
 	display: block;
 	border: #f6f6f6 3px solid;
 }

/*
 *
 * FOOTER
 *
 */

 footer.container {
 	position: relative;
 	padding: 30px;
 	margin-bottom: 60px;
 }

 footer.container h2 {
 	margin: 0;
 }

 footer.container .container-left {
 	width: 300px;
 }

 footer.container .container-center,
 footer.container .container-right {
 	width: 270px;
 	margin-left: 30px;
 }

 footer.container .container-center ul.lists {
 	margin: 16px 0 0 0;
 	padding: 0;
 }

 footer.container .container-center ul.lists li {
 	display: inline-block;
 	margin-right: 2.5px;
 	margin-bottom: 5px;
 }

 footer.container .container-center ul.lists li img {
 	display: block;
 	border: #333 1px solid;
 }

 footer.container .container-bottom ul.social-buttons {
 	margin: 0;
 	padding: 15px 0;
 }

 footer.container .container-bottom ul.social-buttons li {
 	display: inline-block;
 	width: 50px;
 	height: 50px;
 }

 footer.container .container-bottom ul.social-buttons a {
 	display: block;
 	width: 100%;
 	height: 100%;
 }

 footer.container .container-bottom ul.social-buttons li:nth-child(1) { background: #000 url('../assets/social_buttons/button1.png') center center no-repeat; }
 footer.container .container-bottom ul.social-buttons li:nth-child(2) { background: #000 url('../assets/social_buttons/button2.png') center center no-repeat; }
 footer.container .container-bottom ul.social-buttons li:nth-child(3) { background: #000 url('../assets/social_buttons/button3.png') center center no-repeat; }
 footer.container .container-bottom ul.social-buttons li:nth-child(4) { background: #000 url('../assets/social_buttons/button4.png') center center no-repeat; }
 footer.container .container-bottom ul.social-buttons li:nth-child(5) { background: #000 url('../assets/social_buttons/button5.png') center center no-repeat; }

 footer.container::before {
    content:"";
    position: absolute;
    top: 99%;
    bottom: 0;
    left: -10%;
    width: 1141px;
    height: 41px;
    background: url('../assets/shadow.png') 100% 100% no-repeat;
 }

/*
 *
 * UTILITIES
 *
 */

 input:focus { outline: none; }
 ul { list-style-type: none; }
 a { text-decoration: none; }
 h1, h2, h3 { font-weight: 100; }
 button {
 	color: #fff;
 	background: #5aa7ce; 
 	background:-webkit-linear-gradient(top, #5aa7ce, #45809e); 
 	background: -moz-linear-gradient(top, #5aa7ce, #45809e); 
 	background: -ms-linear-gradient(top, #5aa7ce, #45809e); 
 	background: -o-linear-gradient(top, #5aa7ce, #45809e); 
 	background: linear-gradient(to bottom, #5aa7ce, #45809e);
 	box-shadow: 0 0 1px #777;
 	text-shadow: 0 0 1px #000;
 	border: none;
 	padding: 5px 30px;
 	border-radius: 4px;
 }

 .txt-right { text-align: right; }